@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300&family=Roboto&display=swap");

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Tags
===============
*/

body {
  min-width: 350px;
  background-color: rgb(239, 239, 239);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the parent element's color */
  cursor: pointer; /* Show pointer cursor on hover, similar to clickable elements */
}
/*
=============== 
Classes
===============
*/

.container {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  color: coral;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container div:first-child {
  font-size: 2.5rem;
}

.left {
  padding: 1rem;
  font-family: Agbalumo, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle,
.right {
  letter-spacing: 4px;
  display: none;
}

.middle li {
  padding: 0.5rem 1.1rem;
}

.left li span,
.menu {
  color: rgb(64, 188, 178);
}

.menu {
  font-size: 2.5rem;
  margin: 1rem;
}

.showContent {
  display: block;
}

.rotate {
  transform: rotate(90deg);
}

.menu:hover {
  cursor: pointer;
}

.showContent li {
  transition: transform 0.3s ease;
}

.showContent li:hover {
  transform: translateX(15px);
}

.middle li:hover {
  background: rgba(255, 127, 80, 0.221);
  cursor: pointer;
}

@media (min-width: 1100px) {
  /* CSS code specific to viewport width equal to or greater than 1100 pixels */

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    display: inline-block;
  }

  .middle,
  .right {
    display: block;
  }

  .menu {
    display: none;
  }

  .middle li,
  .right li {
    padding: 0 0.5rem;
  }

  /* Add more styles as needed */
}

.shaking:hover {
  /* Basic syntax for the animation shorthand property 

    animation: name duration timing-function delay iteration-count direction;
    animation: myAnimation 2s ease-in-out 1s infinite alternate;
  */
  animation: shake-rotating 0.1s ease-out infinite alternate;
}

@keyframes shake-rotating {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes shake {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-1px);
  }
}
